# Dependencies
node_modules/
.pnp/
.pnp.js

# Expo
.expo/
dist/
web-build/

# Native builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# Android
android/app/release.keystore
android/app/keystore.properties
*.apk
*.aab

# iOS
ios/Pods/
ios/.xcode.env.local

# Logs
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# Temporary files
*.tmp
*.temp
